body{
	background-image: url(../images/f_home.jpg);
	background-position: 0% 10%;
}
h1{
	color: white;
	text-align: center;
	margin-top: 2em;
	text-decoration: 
}
footer{
	color: white;
	margin-top: 31%;
	margin-left: 96%;
}